body{
    background-color:lightblue;
}
h1{
    text-align:center;
    color:Blue;
}
.torokumsg{
    color: red;
    text-align: center;
    font-size:35px;
}
h4{
    font-size: 25px;
    text-align: center;
    color: red;
    margin-top:-40px;
}

hr{
    width:80%;
}
.container{
    width:1200px;
    margin:0 auto;
    margin-bottom:100px;
}

.container .container-left{
    width:700px;
    float:left;
}
.container .container-right{
    width:500px;
    float:left;
}

.torokubtn{
    width:80px;
    height:40px;
    border-radius:10px;
    background-color:LightGreen;
    cursor:pointer;
    display:block;
}
.backbtn{
    width:80px;
    height:40px;
    border-radius:10px;
    background-color:LightGreen;
    cursor:pointer;
    display:block;
    margin-top:-49px;
    margin-left:1190px;
}
.containerbtn{
    width:100%;
    float:right;
}
.input-class{
    width: 550px;
    height: 35px;
}

input{
    width: 350px;
    height: 35px;
    border: outset;
    border-radius: 8px;
    margin:10px;
    margin-left: 10px;
}
label{
    width:350px;
    height: 25px;
    margin-bottom:-10px;
    margin-left: 12px;
    background-color:moccasin;
    border-radius: 6px;
    display: block;
}
table{
    display:none;
}