body{
    background-color:MediumTurquoise;
}

h1{
    text-align: center;
    color:blanchedalmond;
}
.container{
    width:1500px;
    margin: 0 auto;
    margin-bottom:100px;
}
.container .container-left{
    width:400px;
    float:left;
    margin-left: 100px;
}
.container .container-center{
    width:400px;
    float:left;
    margin-left: 100px;
}
.container .container-right{
    width:400px;
    float:left;
    margin-left: 100px;
}
.container-btn{
    width:100%;
    float:right;
}
.kensakubtn{
    width:100px;
    height:50px;
    border-radius:10px;
    background-color:LightGreen;
    cursor:pointer;
    margin-left:110px;

}
.torokubtn{
    position: absolute;
    width:100px;
    height:50px;
    border-radius:10px;
    background-color:LightGreen;
    margin-left:245px;
    margin-top:-60px;
}
.shousaibtn{
    position: absolute;
    width:100px;
    height:50px;
    border-radius:10px;
    background-color:LightGreen;
    cursor:pointer;
    margin-top:-60px;
    margin-left:380px;
}

.downloadbtn{
    position: absolute;
    width:100px;
    height:50px;
    border-radius:10px;
    background-color:LightGreen;
    cursor:pointer;
    margin-top:-60px;
    margin-left:505px;
}

.downloadbtn1{
    position: absolute;
    width:100px;
    height:50px;
    border-radius:10px;
    background-color:LightGreen;
    cursor:pointer;
    margin-top:-60px;
    margin-left:640px;
}
.input-class{
    border-radius:10px;
}
.left-style{
    display:block;
    width:250px;
    height:35px;
    margin:10px;
}

input{
    display:block;
    width: 250px;
    height: 35px;
    margin:10px;
}
label{
    width:250px;
    height: 25px;
    margin-bottom:-10px;
    margin-left: 10px;
    background-color:orange;
    border-radius: 6px;
    display: block;
}
table{
    width:1400px;
    margin: 0 auto;
    padding: 100px;
    border-collapse: collapse;/*table全体的に線が表示する*/
}

th{
    background-color:darkseagreen;
    color:whitesmoke;
    width:100px;
    height: 50px;
    text-align: center;
    border: 1px solid #ddd;/*線の色が少し薄く*/
}
tr{
    background-color:ghostwhite;
}
td{
    
    width:100px;
    height: 50px;
    text-align: center;
    border: 1px solid #ddd;/*線の色が少し薄く*/
}
th,td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
table tr th.hidden,table tr td.hidden{
    display:none;
}
body table tr.selectrow{
    background-color:lightsteelblue;
    color:#ffffff;
}
.id,.shouhinID{
    display: none;
}