body{
    background-color: darkseagreen;
}
h1{
    text-align: center;
    color:Cyan;
}
.container{
    width: 1200px;
    margin:0 auto;
    margin-bottom: 50px;
    
}
.container-left{
    width:700px;
    float:left;
    margin-left:100px;
}
.container-right{
    width:400px;
    float:left;
}

.input-class{
    width: 250px;
    height: 35px;
    border-radius: 6px;
    margin:10px;
}
label{
    background-color: darkturquoise;
    display: block;
    width: 250px;
    margin-bottom:-10px;
    margin-left: 12px;
    border-radius: 6px;
}
.kensakubtn{
    width:110px;
    height:45px;
    border-radius:10px;
    background-color:deepskyblue;
    cursor:pointer;
    float:left; 
}
.torokubtn{
    width:110px;
    height:45px;
    border-radius:10px;
    float:left;
    margin-left:20px;
    background-color:deepskyblue;
    cursor:pointer;
}
.jouhoubtn{
    width:110px;
    height:45px;
    border-radius:10px;
    float:left;
    margin-left:20px;
    background-color:deepskyblue;
    cursor:pointer;
}
.containerbtn{
    margin-left:355px;
    padding:50px;  
}
.id,.password{
    display: none;
}
table{	
    border-collapse: collapse;/*table全体的に線が表示する*/
    text-align: center;
    background-color: beige;
    font-size: 20px;
    margin:0px auto;
}
th{
    background-color: rgba(10,120,70,0.3);
    width:150px;
    height: 50px;
    text-align: center;
}
td{
    width:150px;
    height: 50px;
    text-align: center;
}
th, td {
    border: 1px solid #ddd;/*線の色が少し薄く*/
}
table tr th.hidden,table tr td.hidden{
    display:none;
}
body table tr.selectrow{
    background-color:lightsteelblue;
    color:#ffffff;
}